*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%}
/*.blanco pastel{ #f8f8ec };
.amarillo{ #aedd2b };
.azulMasClaro { #066699 };
.azulIntermedio { #0a5483 };
.azulMasOscuro { #02416d };*/


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Oswald:wght@200&display=swap');

.tamanio {
  font-size: 4rem;
  color: rgb(5, 5, 5);}

.endNav {
    align-items: flex-end;
    justify-content: end;
    text-align: end;
  }
.parrafo { 
  font-size: 1.5rem;
  color: rgb(174, 252, 222);
}
.titulo {
  font-size: 4rem;
  color: rgb(174, 252, 222);
}
  
.subTitulo {
  font-size: 3rem;
  color: rgb(174, 252, 222);
}
.bgDefault {
  background-color: rgb(14, 52, 124);
}
.filtro {
  filter: brightness(50%);
}