@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

header .bgHeader {
  background-color: #1e3b449d;
  padding: 5px 0; }

header div .btn-3:hover {
  background: #1af3c4;
  box-shadow: 0 0 2px #1af3c4, 0 0 10px #1af3c4c5, 0 0 13px #1af3c47e, 0 0 50px #1af3c43d; }

header div .link {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: #fff;
  position: relative;
  margin-top: 10px;
  font-size: 1.5rem; }

.link::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease; }

.link:hover::after {
  transform: scaleX(1); }

.footer-basic {
  position: absolute;
  height: 15;
  bottom: 0;
  width: 100%;
  position: fixed;
  justify-content: center;
  margin-bottom: 0%;
  display: block; }

.footer-basic ul a:hover {
  opacity: 1; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 3px; }

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75; }

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0; }

.footBg {
  background-color: #0f1abb; }

.tamanio {
  font-size: 4rem;
  color: #050505; }

.parrafo {
  font-size: 1.5rem;
  color: #bddbe2;
  /*IMPLEMENTACION DE MAPAS */ }

.titulo {
  font-size: 4rem;
  color: #0036ca; }

.subTitulo {
  font-size: 2.5rem;
  color: #bddbe2; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto; }

.bgDefault {
  background-image: radial-gradient(circle, #1af3c4, #00ded4, #00c7db, #00afd8, #0096ca);
  background-size: cover;
  background-repeat: repeat; }

.filtro {
  filter: brightness(50%);
  object-fit: cover; }

.alinear {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }

.color {
  background-color: #0f1abb; }

.botonColor {
  background-color: #1AF3C4; }

.botonColor:hover {
  background-color: #e1eaf1; }

.separar {
  padding: 0.5em;
  /* MIXIN EJEMPLO */ }

.bgCuadro {
  background-color: #350fbb;
  border-radius: 3px;
  padding: 50px; }
