.footer-basic{
    position: absolute;
    height: 15;
    bottom: 0;
    width: 100%;
    position: fixed;
    justify-content: center;
    margin-bottom: 0%;
    display: block;
  }
  .footer-basic ul a:hover {
    opacity:1
    }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:3px;
  }
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  .footBg{
    background-color: map-get($coloresDelProyecto , color1);
    
  }