$coloresDelProyecto:(
    colorHeader: #1e3b449d,
    colorBoton3: #1af3c4,
    colorParrafo: #bddbe2,
    colorTitulo: #0036ca,
    colorSubTitulo: #bddbe2,
    color1: #0f1abb,
    colorBtn: #1AF3C4,
);
$size:(
    fontTit: 4rem,
    fontST: 2.5rem,
    fontP: 1.5rem,
)