  *{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    }
  
  @import "variables";
  @import "mixins";
  @import "header";
  @import "footer";
  @import "textDec";
  @import "cuerpo";

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Oswald:wght@200&display=swap');
  
